
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

* {
    box-sizing: border-box;
}

/* Declaring Variables */
:root {
    --green: #6B9B8A;
    --offwhite: #F8F8F6;
    --brightgreen: #C9FCE9;
    --darkgreen:#364B44;
    --darkgrey: #6C6C6C;
}

/*---------------------------------------Navbar-------------------------------------------*/

.notes-academy{
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

/* Navbar color */
.navbar-dark {
    background-color: var(--green);
}

nav a {
    color: white;
}

/* Navbar Dropdown*/
.dropdown-menu {
    /*  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);*/
    border: none;
    border-radius: 5px;
    background-color: var(--green);
}

/* Navbar menu dropdown responsive text */
@media (max-width:480px) {
    .dropdown-menu {
        width: 99%;
    }

    .dropdown-menu>li>a {
        white-space: normal;
    }
}

/* Dropdown item hover */
.dropdown-item:hover {
    background-color: white;
}

.nav-item:last-child {
    padding-right: 5em;
}

.nav-item {
    padding: 0em 0.5em;
}

/*Bottom padding for the alert*/
.alert{
    margin-bottom: 0px;
}

/*-----------------------------------Navbar Modal-----------------------------------------------*/

/* Modal */
.modal-header{
    background-color: var(--green);
}

.modal-body button{
    background-color: var(--green);
    border: 1px solid var(--green);
    color: white;
}

.modal-body button:hover {
    background-color: black;
}

.modal-footer button:hover {
    background-color: var(--green);
    border: 1px solid var(--green);
}

/*-----------------------------------Card-----------------------------------------------*/

.card{
    border-bottom: : 1px var(--green) solid;
}

.card-body{
    background-color: var(--green); 
    color:white;
    max-height: 4em;
}

.list-group-item{
    padding:1em 0em;
    border-bottom: : 1px var(--green) solid;
}

.list-group-item:hover{
    background-color: var(--green);
    cursor: pointer;
    color: white;
}

.card-link{
    text-decoration: none;
    color: black;
}

.card-link+.card-link {
    margin-left: 0rem;
}