<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.LikeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCategoryCourseYearSubjectServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.GetCategoryCourseYearSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendNotesServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.SendNotesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCategoryServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.EditCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.DeleteCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.AddCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCourseServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.EditCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.DeleteCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourseServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.AddCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSubjectServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.EditSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSubjectServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.DeleteSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubjectServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.AddSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveNotesServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.ApproveNotesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TempNotesDeleteServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.TempNotesDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNotesServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.AddNotesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditNoteServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.EditNoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNoteServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.DeleteNoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactFormServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.ContactFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.ViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainNotesDeleteServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.MainNotesDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnusedNotesDeleteServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.UnusedNotesDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServletApprove</servlet-name>
        <servlet-class>com.notesacademy.servlets.DownloadServletApprove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdminServlet</servlet-name>
        <servlet-class>com.notesacademy.servlets.AddAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeServlet</servlet-name>
        <url-pattern>/LikeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCategoryCourseYearSubjectServlet</servlet-name>
        <url-pattern>/GetCategoryCourseYearSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendNotesServlet</servlet-name>
        <url-pattern>/SendNotesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategoryServlet</servlet-name>
        <url-pattern>/EditCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <url-pattern>/DeleteCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/AddCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCourseServlet</servlet-name>
        <url-pattern>/EditCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <url-pattern>/DeleteCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourseServlet</servlet-name>
        <url-pattern>/AddCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSubjectServlet</servlet-name>
        <url-pattern>/EditSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSubjectServlet</servlet-name>
        <url-pattern>/DeleteSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubjectServlet</servlet-name>
        <url-pattern>/AddSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/EditUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveNotesServlet</servlet-name>
        <url-pattern>/ApproveNotesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TempNotesDeleteServlet</servlet-name>
        <url-pattern>/TempNotesDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNotesServlet</servlet-name>
        <url-pattern>/AddNotesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditNoteServlet</servlet-name>
        <url-pattern>/EditNoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNoteServlet</servlet-name>
        <url-pattern>/DeleteNoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactFormServlet</servlet-name>
        <url-pattern>/ContactFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewServlet</servlet-name>
        <url-pattern>/ViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainNotesDeleteServlet</servlet-name>
        <url-pattern>/MainNotesDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnusedNotesDeleteServlet</servlet-name>
        <url-pattern>/UnusedNotesDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServletApprove</servlet-name>
        <url-pattern>/DownloadServletApprove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAdminServlet</servlet-name>
        <url-pattern>/AddAdminServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
